<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @repository.name %>

  <%= link_to 'Edit', edit_repository_path(@repository) %> |
  <%= link_to 'Back', secret_path %>
</p>

<%= link_to '<button type="button">Create issue</button>'.html_safe, new_repository_issue_path(@repository) %>
<h2>Issues: <%= @repository.issues.count  %></h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @repository.issues.each do |issue| %>
    <tr>
      <td><%= link_to issue.subject, issue %></td>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
      <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
