<h1>Secret page</h1>

<%= link_to '<button type="button">Create repository</button>'.html_safe, new_repository_path %>

<h2>Your repositories: <%= @repositories.count %></h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @repositories.each do |repository| %>
    <tr>
      <td><%= link_to repository.name, repository %></td>
      <td><%= link_to 'Edit', edit_repository_path(repository) %></td>
      <td><%= link_to 'Destroy', repository, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>